/* Add this CSS in your style.css or a separate CSS file */
/* Styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .bannerBgImage {
    height: 50vh; /* Adjust the height as needed for smaller screens */
    background-position: center; /* Center the background image */
    text-align: center;
    padding: 30px;
  }

  .bannerText {
    top: 50%; /* Center the text vertically */
    left: 50%; /* Center the text horizontally */
    transform: translate(-50%, -50%);
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }

  .bannerTitle {
    font-size: 2rem; /* Adjust the title font size */
  }

  .bannerdesc {
    font-size: 1.5rem; /* Adjust the description font size */
  }
}
